<!-- https://github.com/orestbida/cookieconsent -->

{{ if .Site.Params.cookie_banner.enabled }}
<link rel="stylesheet" href="{{ "css/cookieconsent.css" | relLangURL }}">
{{ $cookieConsent := resources.Get "js/framework/cookieconsent.js" }}
{{ $cookieConsentModeBundle := slice $cookieConsent | resources.Concat "js/cookieConsentModeBundle.js" }}
<script type="text/javascript" src="{{ ($cookieConsentModeBundle | fingerprint).RelPermalink }}"></script>

<!-- Inline script -->
<script>
    window.addEventListener('load', function () {

        // obtain plugin
        var cc = initCookieConsent();

        cc.run({
            current_lang: 'en',
            autoclear_cookies: true,
            page_scripts: true,

            onChange: function (cookie, changed_preferences) {
                // If the analytics category is disabled; disable google analytics
                if (!cc.allowedCategory('analytics')) {
                    typeof gtag === 'function' && gtag('consent', 'update', {
                        'analytics_storage': 'denied'
                    });
                }
            },

            languages: {
                'en': {
                    consent_modal: {
                        title: 'I use cookies!',
                        description: 'Hi, this website uses essential cookies to ensure its proper operation and tracking cookies to understand how you interact with it. The latter will be set only after consent. <button type="button" data-cc="c-settings" class="cc-link">Let me choose</button>',
                        primary_btn: {
                            text: 'Accept all',
                            role: 'accept_all'
                        },
                        secondary_btn: {
                            text: 'Reject all',
                            role: 'accept_necessary'
                        }
                    },
                    settings_modal: {
                        title: 'Cookie preferences',
                        save_settings_btn: 'Save settings',
                        accept_all_btn: 'Accept all',
                        reject_all_btn: 'Reject all',
                        close_btn_label: 'Close',
                        cookie_table_headers: [
                            { col1: 'Name' },
                            { col2: 'Domain' },
                            { col3: 'Expiration' },
                            { col4: 'Description' }
                        ],
                        blocks: [
                            {
                                title: 'Cookie usage 📢',
                                description: 'I use cookies to ensure the basic functionalities of the website and to enhance your online experience. You can choose for each category to opt-in/out whenever you want.',
                            }, {
                                title: 'Strictly necessary cookies',
                                description: 'These cookies are essential for the proper functioning of my website. Without these cookies, the website would not work properly',
                                toggle: {
                                    value: 'necessary',
                                    enabled: true,
                                    readonly: true
                                }
                            }, {
                                title: 'Performance and Analytics cookies',
                                description: 'These cookies allow the website to remember the choices you have made in the past',
                                toggle: {
                                    value: 'analytics',
                                    enabled: false,
                                    readonly: false
                                },
                                cookie_table: [
                                    {
                                        col1: '^_ga',                          // This will match all cookies starting with "_ga"
                                        col2: 'google.com',                    // Domain associated with the cookie
                                        col3: '2 years',                       // Duration for which the cookie will be stored
                                        col4: 'To store and count pageviews.', // Cookie description
                                        is_regex: true                         // Indicates that col1 value is a regular expression
                                    },
                                    {
                                        col1: '_gid',                          // Exact name of the cookie
                                        col2: 'google.com',                    // Domain associated with the cookie
                                        col3: '1 day',                         // Duration for which the cookie will be stored
                                        col4: 'To store and count pageviews.', // Cookie description
                                    }
                                ]
                            }
                        ]
                    }
                }
            }
        });
    });
</script>
{{ end }}